NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://user:password@localhost:5432/courier_system?schema=public"

ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

SUPER_ADMIN_EMAIL=superadmin@courier.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123
